<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="PortName" value="COM3" />
      <add key="BaudRate" value="115200" />
      <add key="Parity" value="0" />
      <add key="DataBits" value="8" />
      <add key="StopBits" value="1" />
      <add key="Handshake" value="0" />
    </appSettings>
</configuration>